body, .tagline {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.gridContainer {
  height: 100%;
}

.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
}

.loginInput {
  min-width: 200px;
  min-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-bottom: 5px;
  padding-left: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  background-color: #4050B5;
  font-weight: bold;
  color: white;
  padding: 7px 12px 7px 12px;
  border-radius: 3px;
  border-color: transparent;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: #323f96;
}

/* .tagline {
  padding-bottom: 50px;
  font-size: 2rem;
  max-width: 75vh;
  flex-wrap: wrap;
  text-align: center;
} */

.userDetails {
  display: flex;
}

span {
  font-weight: bold;
}